* {
    box-sizing: border-box;
}

/* Generic reset styles */
body{
    margin: 0;
    font-family: sans-serif;
    text-align: left;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}


/* Main styles */
header{
    background-image:url(../img/header_background.webp);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    height: 675px ;
}

main, header{
    padding: 0 400px;
}

header h1 {
    color: white;
    text-align: left;
}

header img{
    text-align: right;
}

#small_side{
    background: black;
    width: fit-content;
    border: 1px solid white;
}

nav#small_side ul li {
    padding: 10px;
}

section#top_section{
    text-align: center;
}

footer{
    padding: 0 300px;
    background-color: black;
    color: white;
}

footer a{
    color: white;
    
}

footer ul:nth-child(2){
    text-align: right;
}